<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.guanyu.haigui.mapper.UserDetailsMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user (username, password) values (#{username}, #{password})
    </insert>
    <insert id="insertUserRole">
        insert into sys_user_role (user_id, role_id) values (#{userId}, #{roleId})
    </insert>
    <!-- 根据用户ID查角色 -->
    <select id="selectUserRolesByUserId" resultType="java.lang.String">
        SELECT r.role_name AS role
        FROM sys_user_role ur
        JOIN sys_role r ON ur.role_id = r.role_id
        WHERE ur.user_id = #{userId}
    </select>

    <!-- 根据用户名查角色 -->
    <select id="selectUserRolesByUsername" resultType="java.lang.String">
        SELECT r.role_name AS role
        FROM sys_user u
        JOIN sys_user_role ur ON u.id = ur.user_id
        JOIN sys_role r ON ur.role_id = r.role_id
        WHERE u.username = #{username}
    </select>
</mapper>